.background {
 background-image: url(../img/background.png);
 width: 1366px;
 height: 768px;
 margin: 0px;
 padding: 0px;
}
 header {
  width: 1080px;
  height: 120px;
  margin: 0 auto;
 }

.foto {
  float: left;
  margin-top: 40px; 
  width: 46px;
  height: 44px;
 }

.big_text {
  float: left;
  margin-top: 40px; 
  color: #fff;
  font-family: Verdana, sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  padding-bottom: 5px;
  padding-left: 8px;
}
.small_text {
 font-family: Verdana, sans-serif;
 color:  #ffffff;
 font-size: 18px;
 font-weight: 700;
 line-height: 21px;
 text-align: left;
 
}
 
 .foto:hover {
  background-color: #f26522;
 }
 .big_text:hover {
  color: #f26522;
}
.small_text:hover {
  color: #f26522;
}


.text_info {
   float: right;
   margin-top: 45px;
   margin-right: 50px;
}
.text_right {
	color: #fff;
   font-family: Verdana, sans-serif;
   font-size: 16px;
   font-weight: 200;
   line-height: 21px;
   text-align: right;
   text-decoration: none;
}

.container_first {
   clear: both;
	 width: 1080px;
   height: 250px;
   margin: 0 auto;
}

.info_block {
  position: relative;
  float: left; 
  width: 320px;
  height: 220px;
  padding-right: 40px;
}

 .picture {
  width: 307px;
  height: 200px;
 }



.info {
     opacity: 0;
     position: absolute;
     bottom: 20px;
     left: 0px;
     right: 20px;
     width: 307px;
     height: 50px;
     background-color: #f26522;
   }
  .info:hover {
    opacity: 0.9;
  }
.info_word { 
     font-family: Verdana,sans-serif; 
     padding-top: 8px;
     padding-left: 15px;  
     color: #fff;
     font-size: 10px;
     font-weight: 400;
     line-height: 21px;
     text-align: left;
     text-decoration: none;
     box-sizing: border-box;
 }
.info_price { 
     padding-left: 15px;
     font-family: Verdana,sans-serif;  
     color: #fff;
     font-size: 20px;
     line-height: 21px;
     font-weight: 400;
     text-align: left;
     text-decoration: none;
     box-sizing: border-box;
 }
 .info_detail { 
     font-family: Verdana, sans-serif; 
     float: right;
     padding-right: 9px;  
     color: #fff;
     font-size: 18px;
     font-weight: 400;
     line-height: 21px;
     text-align: left;
     text-decoration: none;
     box-sizing: border-box;
 }

 .info_tour {
  font-family: Verdana, sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-left: 60px;
  padding-left: 20px;
  text-decoration: none;
  }

 .info_tour:hover {
  color: #f26522;
 }

.container_seсond {
   clear: both;
   width: 1080px;
   height: 250px;
   margin: 0 auto;
}

 .foot_text {
 	clear: both;
 	display: inline-block;
 	margin-left: 450px;
 	padding-top: 80px;
  }

 .foot_info {
 	color: #fff;
   font-family: Verdana, sans-serif;
   font-size: 14px;
   font-weight: 180;
   line-height: 19px;
   text-align: left;
   text-decoration: none;
  }